*.class
*.log
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*
target/
build/
.classpath
.project
.settings/
.idea/
*.iml
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
.vscode/
jacoco.exec
jacoco/
*.exec
test-results/
surefire-reports/
